
<nav class="border border-dark rounded-4 position-fixed" style="height: 95%; width: 15.5%;">
  <div class="text-center bg-danger rounded-top-4 py-1 d-flex justify-content-center align-items-center">
    <h4>Inventory system</h4>
</div>
  
  <ul class="list-group list-group-flush p-1">
    <li class="list-group-item">Dashboard</li>
    <li class="list-group-item">User Management</li>
    <li class="list-group-item">Categories</li>
    <li class="list-group-item">Products</li>
    <li class="list-group-item">Media Files</li>
    <li class="list-group-item">Sales</li>
    <li class="list-group-item">Sales Report</li>
  </ul>
</nav>